*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: var(--color-body);
    font-family: var(--font-main);
}


:root{
    --font-main: "Poppins", sans-serif;
    --color-a: chocolate;
    --color-aHover: gray;
    --color-aActive: red;
    --color-primary: rgb(75, 4, 4);
    --color-header:rgb(228, 214, 81);
    --color-body: cornsilk;
    --color-text: rgb(173, 75, 75);
    --space-little: 50px;
    --space-large: 150px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    background-color: var(--color-header);
    font-size: 20px;
    margin-bottom: var(--space-little);
    position: sticky;
    z-index: 1000;
    top: 0;
} 
a{
    color: var(--color-a);
}
a:hover{
    color: var(--color-aHover);
}
a:active{
    color: var(--color-aActive) ;
}
.header__logo{
    display: flex; 
    align-items: center; 
    font-size: 30px;
}
.hlogo__image{
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.nav__items{
    display: flex;
    gap: 20px;
    
}

/* main */
main{
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 .section__first{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 30px;
    flex-wrap: wrap;
    background-color: rgba(232, 161, 198, 0.333);
    margin-bottom: var(--space-large);
 }

.secFirst__foto{
    width: 40%;
    border-radius: 50px;
    border: 5px solid rgba(224, 131, 131, 0.47);
    margin-bottom: var(--space-little);
    
}
.secFirst__text--features{
   text-align: center;
   width: 60%;
   margin-bottom: var(--space-little);

}
.main__title{
   color: var(--color-text);
   font-size: 30px;
   margin-bottom: 20px;
}
.main__text{
   color: var(--color-text);
   font-size: 18px;
   
}
.section--features{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 40px;
    margin-bottom: var(--space-large);
}
.foto--features{
    width:30%;
    height: auto;
    border-radius: 40px;
    cursor: pointer;
}
.travel__foto{
    border: 5px solid rgba(152, 100, 11, 0.338);
}
.books__foto{
     
    border: 5px solid rgba(97, 24, 45, 0.403);
    
}
.travel{
background-color: rgba(150, 69, 69, 0.199);
}
.books{
    background-color: rgba(194, 165, 199, 0.232);

}

.text--features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: var(--color-text);
}
.icons{
    width: 7%;
    height: auto;
}
.iconTravel{
    animation: spin 20s linear reverse infinite;
}

    @keyframes spin{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
    }
}


.iconBook{
    animation: pulse 1s linear infinite;
}

    @keyframes pulse{
    from{
        transform: scale(1);
        
    }
    to{
        transform: scale(1.1);
    }
}


/* footer */
.footer{
    background-color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
}

.footer__image--features{
    width: 30px;
    height: auto;
}

/* about */

.nextSite--features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.about__foto{
    border: 10px solid rgba(135, 45, 72, 0.564);
    border-radius: 150px;   
}

/* idea */
.idea__foto{
    width: 40%;
    border: 10px solid rgb(103, 92, 27);
    border-radius: 150px;
}
.spanABout{
    color: rgb(38, 38, 248);
    margin-right: 2px;
   
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 30px;
}
.contact__title{
     color:rgba(130, 10, 104, 0.607);
     margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: var(--space-little);
    
}
.btn{
    background-color: rgba(206, 31, 31, 0.637);
    color: aliceblue;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;

}
.input{
    background-color: rgb(223, 198, 231);
    width: 100%;
    border-radius: 10px;
    padding: 5px 5px;
    
}

.icons2{
    width: 30px;
}
.mailto__me, .callto__me{
     display: flex;
     align-items: center;
     gap: 10px;
}
.map{
    margin-bottom: var(--space-large);
    width: 50%;
    height: auto;
}

@media (max-width:768px){
.header{
    display: flex;
    flex-direction: column;
}

.section__first{
    gap: 20px;
    margin-bottom: var(--space-little);
}
 

.main__title{
   font-size: 24px;
}
.secFirst__foto{
    width: 60%;
    
}
.section--features{
    padding: 20px 30px;
    margin-bottom: var(--space-little);
}
.foto--features{
    width:45%;
}
.text--features{
    width: 40%; 
}
}



@media(max-width:375px){
.header{
    padding: 10px 5px;
}
 .header__logo{
        font-size: 20px;
    }
    .hlogo__image{
        width: 30px;
    }

.nav__items{
    flex-direction: column;
    gap: 3px;
    font-size: 18px;
}
.section__first{
    gap: 10px;
    padding: 5px 10px;
}

.secFirst__foto{
    width: 80%;
    border: 3px solid rgba(224, 131, 131, 0.47);
    
}
.secFirst__text--features{
   width: 90%;
}
.main__title{
   font-size: 18px;
}
.main__text{
   font-size: 16px;  
}

.section--features{
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.foto--features{
    width:80%;
}
h2{
    font-size: 18px;
}
.text--features{
    font-size: 16px;
    width: 90%; 
}
.travel__foto{
    border: 3px solid rgba(152, 100, 11, 0.338);
}
.books__foto{
     
    border: 3px solid rgba(97, 24, 45, 0.403);
    
}

.icons{
    width: 20%;
}
.nextSite--features{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: var(--space-little);
    
}
.about__foto{
    border: 5px solid rgba(135, 45, 72, 0.564);
    width: 50%;
}
}
.idea__foto{
    width: 50%;
    border: 5px solid rgb(103, 92, 27);
}

.form{
    width: 80%;
    justify-content: center;
}












